- provide(:title, 'Veterinários')
.hero-unit.hero-registration
  -# %h2 Pet Cuida
  :markdown
    ## Veterinário, junte-se a nós!
      
    A Pet Cuida é um novo serviço que veio para ajudar os donos de pets a 
    encontrarem os melhores veterinários. E este veterinário pode ser você!
      
    Acreditamos que todo animal merece o melhor tratamento e que a melhor 
    maneira de conseguir isso é valorizando os melhores veterinários.
      
    <br/>
      
    #### Aqui você é o seu próprio chefe.
      
    <br/>
      
    Para garantir a qualidade no atendimento e a independência dos 
    veterinários, os atendimentos são realizados à domicílio. 
    Você cuida dos animais enquanto nós organizamos a sua agenda para você.
      
    E isto é só o começo. Estamos preparando outros serviços para 
    facilitar a sua vida e te deixar focado em dar o melhor atendimento.
      
    Se você se identifica com os nossos valores e quer ajudar a construir 
    a melhor comunidade de atendimento veterinário do Brasil, cadastre-se 
    abaixo que entraremos em contato.
      
  %br/

  .row-fluid
    .span12.center-text
      %a.btn.btn-success.btn-large{:href => "#{new_vet_registration_path}"} Quero me cadastrar!
