/ %h1 Thank you
#request-invite.modal{:style => "display: 'block';"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Obrigado!
  .modal-body{:style => "margin-bottom: 120px; overflow: visible"}
    
    %p O seu cadastro foi realizado e você será o primeiro a receber as novidades sobre a Pet Cuida. Enviaremos um email de confirmação, que você deverá receber em breve.
    %p Qualquer dúvida, sugestão ou para falar o que quiser com a gente é só mandar um email para #{ mail_to 'petcuida@petcuida.com.br'}.
    %p Compartilhe com os seus amigos a sua descoberta e nos ajude na missão de criar o melhor atendimento veterinário!
    %br/

    #tweet{:style => "display:inline-block;"}
      %a.twitter-share-button{"data-count" => "horizontal", "data-text" => "Quer o melhor atendimento veterinário na sua casa?", "data-url" => "http://www.petcuida.com.br/", "data-via" => "PetCuida", "data-lang" => "pt", :href => "https://twitter.com/share"}

    %span{:style => "display:inline-block; vertical-align:text-bottom;"}
      .fb-like{"data-href" => "http://www.petcuida.com.br/", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "90"}
      
    #gplus{:style => "display:inline-block; margin: 0px 40px;"}
      .g-plusone{"data-annotation" => "inline", "data-href" => "http://www.petcuida.com.br/", "data-size" => "medium", "data-width" => "120"}

    %br/
    
    #conversion-tracking
      -#%noscript
      -#  %div{:style => "display:inline;"}
      -#    %img{:alt => "", :height => "1", :src => "http://www.googleadservices.com/pagead/conversion/1002155659/?value=0&amp;label=gcITCOWo1gMQi93u3QM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/
